<div class="container">
  <h1>Restaurants#index</h1>
  <h3>Restaurants List</h3>
  <table class="table table-primary table-striped">
    <thead>
      <tr>
        <th scope="col">Restaurant id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurant.each do |restaurant| %>
      <tr>
        <th scope="row"><%= link_to restaurant.id, restaurant_path(restaurant) %></th>
        <th><%= restaurant.name %></th>
        <th><%= restaurant.address %></th>
        <th><%= restaurant.phone_number.nil? ? "unavailable" : restaurant.phone_number %></th>
        <th><%= restaurant.category.capitalize %></th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

